# Prévenir l'execution des lifecycle scripts (genre postinstall) par défaut
# Pour les réactiver en opt-in, envisager https://github.com/LavaMoat/LavaMoat/tree/main/packages/allow-scripts
ignore-scripts=true
