node_modules
build
backups
pgdata
data/sources_especes
test-results
playwright-report
.direnv
.corepack
docs/_site
docs/.jekyll-cache
docs/.bundle
docs/vendor
scripts/types/database
scripts/types/démarche-numérique
package-lock.json
pnpm-lock.yaml
*.min.js
*.min.css
