
/* Layout */
body > * {
    width: 100%;
    padding: 0 calc( max(5px, ( 100vw - 50em ) / 2 ));
}

main {
    text-align: center;
    padding: 1em;
    /*max-width: 240px;*/
    margin: 0 auto;

    /*@media (min-width: 400px) {
        max-width: none;
    }*/
}